.offers {
  width: 65%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg,#F6D8C6,#e1ffea22 98%);  
  /* transform: translateX(180px); */
}

.offers-left {
  position: absolute;
    background-color: #F6D8C6;
    top: 1900px;
    width: 600px; /* Increase width */
    height: 400px;
    border-radius: 30px;
    padding-left: 30px;
    box-shadow: 0 8px 8px -4px rgb(108, 170, 190);
}

.offers-left h1 {
  color: #171717;
  font-size: 80px;
  font-weight: 600;
}

.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}

.offers-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}
.offers-left button :active{
  background: blue;
}
.offers-right{
  position: absolute;
  right: 300px;
  top: 1800px;
}
.offers-right img{
  width: 400px;
  height: 600px;
}