.username{
    margin-left: 763px;
    margin-top: 300px;
    height: 50px;
    width: 200px;
    text-align: center;
    /* padding-left: 20px; */
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 20px;
    /* margin-left: 500px; */
    border-radius: 20px;
    /* margin: 30px; */
}

.cartitems{
    margin: 100px 170px;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.mainFrame
{
    padding: 100px;
    background: linear-gradient(180deg,#F6D8C6,#e1ffea22 98%);
    width: 100%;
    height: 500px;
}
.avatar
{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 230px;
    left: 900px;
    
    background-image: url("../../Components/Assets/logo_real.png");
    background-repeat: no-repeat;
    
}
.User-anh-bia{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 0px;
    background-image: url("../../Components/Assets/login\ page.png");
    background-repeat: no-repeat;
    background-position: 1%;
    background-size: cover;
    
    
}